/* Bluish Purple: #7535ED
   Greyish White: #E3E1E4
   Pinkish Peach: #C23361
   Greenish Color: #00FF45
*/

body {
  background-color: #e3e1e4;
}
.my-button {
  color: white;
  font-weight: 500;
  font-size: 21px;
  width: 250px;
  height: 55px;
}

.bg-purps {
  background-color: #7535ed;
  border-color: #340f78 !important;
}

.dark-bg {
  background-color: #101318 !important;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgb(75, 255, 39) !important;
}

.btn .btn-purps:hover,
.btn .btn-purps:focus {
  box-shadow: 0 0 0 0.2rem rgb(194, 51, 97) !important;
}

.pitch {
  background: url("/img/pitch-2.png");
  height: 600px;
  width: 383px;
}
#formation_table td {
  width: 54.7167px !important;
  height: 60px !important;
  position: relative;
}

#list {
  list-style: none !important;
}

#list a {
  color: aliceblue !important;
}

.list-group-item {
  border-radius: 0.25rem !important;
}

#list a:hover,
#list a:focus {
  box-shadow: 0 0 0 0.2rem rgb(194, 51, 97) !important;
}

.top {
  background-color: #101318;
}

#formation_table span {
  width: inherit;
  font-size: 9px;
  color: white;
  position: absolute;
  top: 38px;
  right: 20px;
  background-color: #1013183e;
  font-weight: bold;
  padding: 0.2rem;

  border: 1px solid darkgreen;

  border-radius: 12px;
}

#formation_table .shirt_number {
  top: 14px;
  left: 1px;
  background: none;
  border: none;
  font-size: 10px;
  color: black;
}

#match_details_labels {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

#formation_table .icon {
  position: absolute;
  top: 4px;
  right: -9px;
}

#formation_table .ball {
  height: 20px;
}

#home_squad,
#away_squad {
  color: #7535ed;
  height: 300px;
}

.progress {
  height: auto !important;
}

.progress-bar {
  /* font-weight: bold !important; */
  line-height: normal !important;
  color: white !important;
  font-size: medium !important;
}

.home-progress-bar {
  background-color: #7535ed !important;
}
.away-progress-bar {
  background-color: #c23361 !important;
}

.good_form {
  border-top: solid 3px #00ff45;
}
.average_form {
  border-top: solid 3px #ffc107;
}
.poor_form {
  border-top: solid 3px #dc3545;
}

#home_squad_name {
  text-align: center;
}

#home_squad_list {
  list-style-type: none;
  font-size: x-small;
  color: #101318 !important;
}
#away_squad_list {
  list-style-type: none;
  font-size: x-small;
  color: #101318 !important;
}
.header {
  width: 100%;
  height: 30px;
  background-color: #01fd86;
  color: white !important;
}

.motm_icon {
  position: absolute;
  top: 4px;
  left: -13px;
}

.timeline-container {
  min-height: 300px;
  position: relative;
}

.dividing-line {
  height: 95%;
  width: 3px;
  border-radius: 2px;
  background-color: #343a40;
  /* background-color: #01fd86; */
  position: absolute;
  /* z-index: -5; */
  top: 20px;
  left: 314px;
}

.event {
  position: relative;
  height: 50px;
}
.event .home-event {
  float: left;
  text-align: left;
  width: 185px;
  background-color: white;
  /* margin-top: 1rem; */
  margin-left: 2rem;
  padding: 0.45rem;
  justify-content: space-between;
}
.event .away-event {
  float: right;
  text-align: left;
  width: 185px;
  background-color: white;
  /* margin-top: 1rem; */
  margin-right: 2rem;
  padding: 0.45rem;
  justify-content: space-between;
}
.away-event + .event-marker {
  position: relative;
  margin: 9px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: #1013183e; */
  display: flex !important;
  z-index: 2;
  left: 318px;
  top: 4px;
}

.home-event + .event-marker {
  position: relative;
  margin: 9px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: aliceblue;
  display: flex !important;
  z-index: 2;
  left: 44px;
  top: 3px;
}
.event img {
  width: 32px;
  height: 32px;
  align-self: center;
  margin-left: auto !important;
  margin-right: auto !important;
  /* position: absolute; */
}

.goal-event {
  background-color: #01fd86;
}

.yellow-card-event {
  background-color: aliceblue;
}