/* Bluish Purple: #7535ED
   Greyish White: #E3E1E4
   Pinkish Peach: #C23361
   Greenish Color: #00FF45
*/

body {
  background-color: #e3e1e4;
}
.my-button {
  color: white;
  font-weight: 500;
  font-size: 21px;
  width: 250px;
  height: 55px;
}

.bg-purps {
  background-color: #7535ed;
  border-color: #340f78 !important;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgb(75, 255, 39) !important;
}
.pitch {
  background: url("/img/pitch-2.png");
  height: 600px;
  width: 383px;
}
#formation_table td {
  width: 54.7167px !important;
  height: 60px !important;
  position: relative;
}

.top {
  background-color: #101318;
}

#formation_table span {
  font-size: 9px;
  color: white;
  position: absolute;
  top: 38px;
  right: 20px;
  background-color: #1013183e;
  font-weight: bold;
  padding: 0.2rem;

  border: 1px solid darkgreen;

  border-radius: 12px;
}

#match_details_labels {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

#formation_table .icon {
  position: absolute;
  top: 2px;
  right: -9px;
}

#formation_table .ball {
  height: 20px;
}

#home_squad,
#away_squad {
  color: #7535ed;
  height: 300px;
}

.progress {
  height: auto !important;
}

.progress-bar {
  /* font-weight: bold !important; */
  line-height: normal !important;
  color: white !important;
  font-size: medium !important;
}

.home-progress-bar {
  background-color: #7535ed !important;
}
.away-progress-bar {
  background-color: #c23361 !important;
}

.good_form {
  border-top: solid 3px #00ff45;
}
.average_form {
  border-top: solid 3px #ffc107;
}
.poor_form {
  border-top: solid 3px #dc3545;
}

#home_squad_name {
  text-align: center;
}

#home_squad_list {
  list-style-type: none;
  font-size: x-small;
}
