body {
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#winner-container {
    height: 300px;
    background-color: aquamarine;
}

#players-container {
    margin-top: 2rem;
    height: 400px;
    background-color: tomato;
}