body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: white !important;
}

#winner-container {
  height: 300px;
  background-color: aquamarine;
}

#league-details {
  font-size: 26px;
  font-weight: bold;
  border: none;
  background-color: #101318 !important;
}

#players-container {
  margin-top: 2rem;
  height: 400px;
  background-color: tomato;
}

.player-card {
  position: relative;
  background-color: coral;
  color: white;
  font-weight: bold;
  height: 141px;
  width: 240px;
  border: solid 2px antiquewhite;
  border-radius: 6px;
  padding: 1rem;
  display: inline-block;
  margin: 0.5rem 1.75rem;
}

.player-card img {
  position: absolute;
  height: auto;
  width: auto;
  top: 12px;
  right: -40px;
}

.player-card h5 {
  position: relative;
  z-index: 1;
  text-shadow: 0 0 5px antiquewhite;
  font-size: 23px;
}

.club-card {
  padding: 0.5rem;
  margin: 0px auto;
  background-color: #101318;
  border: solid 2px gainsboro;
  text-align: center;
  color: white;
}
.club-card img {
  width: 200px;
}
.club-card div {
  background-color: white;
  font-weight: bold;
  color: #7535ed;
  box-shadow: 0 0 5px rgba(140, 91, 231, 0.616);
}

ul#winning-stats {
  border: solid 1px white;
  border-radius: 5px;
  text-align: center;
}

ul#winning-stats li:first-child {
  border: solid 1px transparent;
}

ul#winning-stats li {
  border-left: solid 1px white;
  padding: 3px;
}

ul#winning-stats li > span {
  font-weight: bold;
  color: #c23361;
}

.player-card > div > span.shirt-number {
  top: 14px;
  left: 1px;
  background: none;
  border: none;
  font-size: 13px;
  color: black;
}
