/* Bluish Purple: #7535ED
   Greyish White: #E3E1E4
   Pinkish Peach: #C23361
   Greenish Color: #00FF45
   Blueish Black: #101318;
*/

.dark-bg {
  background-color: #101318 !important;
}
.results {
  color: #01fd86 !important;
}

.purple-bg {
  background-color: #3b0640 !important;
}

#match_details {
  font-size: 16px;
}

#match_details_labels {
  font-size: 14px;
  text-align: center;
  line-height: 25px;
}

#home_score,
#away_score {
  font-size: 65px;
}

#score_divider span {
  font-size: 60px;
  font-weight: bold;
  /* line-height: 10px; */
}
.fixtures {
  font-size: 16px;
}

.list {
  list-style: none !important;
}

#list a:hover {
  color: goldenrod;
}
