<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Match Simulation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/style.css"
    />
    <link rel="stylesheet"
    type="text/css"
    media="screen"
    href="/css/fresh.css"/>
  </head>
  <body>
    <div class="container-fluid">
      
      <div class="row mt-3" id="main">
          <!-- <div class="col-md-12 d-flex justify-content-between">
              <span class="alert alert-success" id="notifications"></span>
              
            </div> -->
        <!-- Side panel -->

        <div class="col-md-1" id="side_panel">

          <div>
            <img src="/img/logo.png" height="40px">
            <span>Football Simulator</span>
          </div>

          <ul class="list flex-column nav m-0">
              <li class="nav-item"><a  href="/data/table">Tables</a></li>
              <li class="nav-item"><a href="#">Teams</a></li>
              <li class="nav-item"><a  id="to_fixtures_link">Back to fixtures</a>
              </li>
            </ul>

        </div>

        <!-- Main panel -->
        <div class="col-md-6 results" id="main_panel">
          <div class="d-flex">
            <span id="league_detail"></span>
            <div class="ml-auto">
                <button class="btn btn-primary mx-2" id="simulate_button">Play!</button>
                <button class="btn btn-secondary my-1" id="clear_button">Clear</button>
            </div>
              
          </div>
          <!-- League Detail -->
          <div class="row text-center">
            <div class="col-5">
              <p class="h5" id="home_team_name"></p>
              <span id="home_icon"></span>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
              <span id="home_score" class="m-2"></span>
              <span id="score_divider"></span>
              <span id="away_score" class="m-2"></span>
            </div>
            <div class="col-5">
              <p class="h5" id="away_team_name"></p>
              <span id="away_icon"></span>
            </div>
          </div>

          <!-- Match details -->
          <div class="row mt-2" id="match_details">
            <div class="col" id="match_details_labels">
              <span class="text-muted" id="ccr_label"></span>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" id="home_ccr" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" id="away_ccr" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="text-muted" id="ccn_label"></span>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" id="home_ccn" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" id="away_ccn" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="text-muted" id="pn_label"></span>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" id="home_pn" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" id="away_pn" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="text-muted" id="af_label"></span>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" id="home_af" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" id="away_af" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="text-muted" id="df_label"></span>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" id="home_df" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" id="away_df" aria-valuemin="0" aria-valuemax="100"></div>
              </div>    
            </div>
            
          </div>

        </div>
        <!-- Stats panel -->
        <div class="col-md-5" id="stats">
          <div class="m-0 p-1" id="marquee"></div>
            <div class="d-flex">
                <div class="pitch">
                    <table id="formation_table">
                      <tbody>
                        <tr>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                        </tr>
                        <tr>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                        </tr>
                        <tr>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                        </tr>
                        <tr>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                        </tr>
                        <tr>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                        </tr>
                        <tr>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                        </tr>
                        <tr>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                        </tr>
                        <tr>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                        </tr>
                        <tr>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                        </tr>
                        <tr>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                          <td name="formation"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="squads px-1">
                    <div id="home_squad">
                        <select class="select custom-select">
                          <option>
                            Pops
                          </option>
                        </select>
                        <h5 id="home_squad_name">Club Name</h5>
                        <div>
                          <span id="home_squad_icon"></span>
                          <span id="home_kit_icon"></span>
                          <p id="home_manager_name"></p>
                        </div>
                        <ul class="list-group" id="home_squad_list">
                        </ul>
                    </div>
                    <div id="away_sqaud">
                        
                        <ul class="list-group" name="squad_list">
                          <li class="list-group-item">This guy</li>
                          <li class="list-group-item">This guy</li>
                          <li class="list-group-item">This guy</li>
                        </ul>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
    <script src="/main.js"></script>
  </body>
</html>
