<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Match Simulation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/style.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <!-- Select the league -->
      <!-- Football Simulation! -->
      <div class="alert alert-secondary d-flex justify-content-between my-1">
        <span class="h2">Football Simulator</span>
        <span class="alert alert-success" id="notifications"></span>
        <span id="league_detail"></span>
        <ul class="list">
          <li><a  href="/data/table">Tables</a></li>
          <li><a href="#">Teams</a></li>
          <li><a  id="to_fixtures_link">Back to fixtures</a>
          </li>
        </ul>
      </div>
      <div class="row mx-1" class="pitch-bg" id="pitch-bg">
        <div class="col-md-12 d-flex">
          <button class="btn btn-primary mx-2" id="simulate_button">Play!</button>
          <button class="btn btn-secondary my-1" id="clear_button">Clear</button>
        </div>

        <div class="col-md-12 results mt-2">
          <!-- League Detail -->
          <div class="row text-center">
            <div class="col-5">
              <p class="h5" id="home_team_name"></p>
              <span id="home_icon"></span>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
              <span id="home_score" class="m-2"></span>
              <span id="score_divider"></span>
              <span id="away_score" class="m-2"></span>
            </div>
            <div class="col-5">
              <p class="h5" id="away_team_name"></p>
              <span id="away_icon"></span>
            </div>
          </div>

          <!-- Match details -->
          <div class="row mt-2" id="match_details">
            <div class="col text-center" id="home_match_details"></div>
            <div class="col" id="match_details_labels"></div>
            <div class="col text-center" id="away_match_details"></div>
            <div class="col-12">
              <span id="stats_link"></span>
            </div>
          </div>


        </div>
      </div>
    </div>
    <script src="/main.js"></script>
  </body>
</html>
