<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>League Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/league_table.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/style.css"
    />
  </head>
  <body>
    <!-- League Table :) -->

    <div class="container container-fluid">
      <div class="row alert-secondary alert mb-3">
        <div class="col-4">
          <h3>Please select league</h3>
          <select id="league_select">
            <option value="3" name="league_select"
              >Bellean Football League III</option
            >
            <option value="2" name="league_select">Epson League II</option>
            <option value="1" name="league_select">Epson League I</option>
          </select>
        </div>
        <div class="col-4">
          <p id="league_name"></p>
          <span id="league_logo"></span>
          Showing latest season standings
          <!-- <button class="btn btn-success" onclick="view.displayLeagueTable()">Show latest seasons table</button> -->
        </div>
      </div>
      <!-- New Row -->
      <div class="row">
        <div class="col-md-12 border-success">
          <table
            class="table table-dark shadow table-hover text-center"
            id="table"
          >
            <thead class="thead-light">
              <th scope="col" class="py-3">Pos.</th>
              <th scope="col" class="py-3">Club</th>
              <th scope="col" class="py-3">Played</th>
              <th scope="col" class="py-3">W</th>
              <th scope="col" class="py-3">L</th>
              <th scope="col" class="py-3">D</th>
              <th scope="col" class="py-3">GF</th>
              <th scope="col" class="py-3">GA</th>
              <th scope="col" class="py-3">GD</th>
              <th scope="col" class="py-3">Pts.</th>
            </thead>
            <tbody id="tbody"></tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="/league_table.js"></script>
  </body>
</html>
