<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Setup Match</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/style.css"
    />
    <!-- <script src="main.js"></script> -->
  </head>
  <body>
    <div class="container container-fluid">
      <div class="row alert alert-secondary">
        <button class="btn btn-primary" onclick="controller.newSeason()">
          New Season
        </button>
        <button class="btn btn-primary" onclick="controller.newClub()">
          New Club
        </button>
        <button class="btn btn-warning">
          New Player
        </button>
      </div>
      <div class="row">
        <div class="col-md-6 border-primary" id="main_setup"></div>
      </div>
    </div>

    <DIV>
      <!-- // Select league
    // league_select.forEach((el, key) => {
    //   el.addEventListener("click", function(ev) {
    //     league_detail.innerHTML = `<img src="/img/league${
    //       ev.target.value
    //     }_logo.png" height="72px">`;
    //     selected_league_text = ev.target.innerText;
    //     switch (key) {
    //       case 0:
    //         selected_league = "league_3";
    //         selected_league_code = "L3";
    //         home_team_selection_form.innerHTML = `<input type=\"radio\" value=\"DR\" name=\"home\">Dagada Rangers F.C
    //       <br>
    //       <input type=\"radio\" value=\"RB\" name=\"home\">Rainbow Boys F.C
    //       <br>
    //       <input type=\"radio\" value=\"SPR\" name=\"home\">Southport Rangers
    //       A.C <br>
    //       <input type=\"radio\" value=\"IB\" name=\"home\">Ivania Boys Club
    //       <br>`;
    //         away_team_selection_form.innerHTML = `<input type=\"radio\" value=\"DR\" name=\"away\">Dagada Rangers F.C
    //       <br>
    //       <input type=\"radio\" value=\"RB\" name=\"away\">Rainbow Boys F.C
    //       <br>
    //       <input type=\"radio\" value=\"SPR\" name=\"away\">Southport Rangers
    //       A.C <br>
    //       <input type=\"radio\" value=\"IB\" name=\"away\">Ivania Boys Club
    //       <br>`;
    //         break;
    //       case 1:
    //         selected_league = "league_2";
    //         selected_league_code = "L2";
    //         home_team_selection_form.innerHTML = ` <input type=\"radio\" value=\"BWH\" name=\"home\">Brickwall Hadad S.C
    //         <br>
    //         <input type=\"radio\" value=\"NSM\" name=\"home\">New Simeone Mirrors
    //         F.C <br>
    //         <input type=\"radio\" value=\"ZD\" name=\"home\">Zander Dragons <br>
    //         <input type=\"radio\" value=\"RP\" name=\"home\">Royal Philamentia
    //         <br>`;
    //         away_team_selection_form.innerHTML = ` <input type=\"radio\" value=\"BWH\" name=\"away\">Brickwall Hadad S.C
    //         <br>
    //         <input type=\"radio\" value=\"NSM\" name=\"away\">New Simeone Mirrors
    //         F.C <br>
    //         <input type=\"radio\" value=\"ZD\" name=\"away\">Zander Dragons <br>
    //         <input type=\"radio\" value=\"RP\" name=\"away\">Royal Philamentia
    //         <br>`;
    //         break;
    //       case 2:
    //         selected_league = "league_1";
    //         selected_league_code = "L1";
    //         home_team_selection_form.innerHTML = `<input type=\"radio\" value=\"BFC\" name=\"home\">Binatone F.C
    //         <br>
    //         <input type=\"radio\" value=\"GU\" name=\"home\">Guttersburg United A.F.C
    //         <br>
    //         <input type=\"radio\" value=\"LU\" name=\"home\">Lasena United S.C<br>
    //         <input type=\"radio\" value=\"LRU\" name=\"home\">Lonen Raid 01 United F.C
    //         <br>
    //         <input type=\"radio\" value=\"RT\" name=\"home\">Rising Thunders A.C<br>
    //         <input type=\"radio\" value=\"K94\" name=\"home\">Khashiru 94 A.C`;
    //         away_team_selection_form.innerHTML = `<input type=\"radio\" value=\"BFC\" name=\"away\">Binatone F.C
    //         <br>
    //         <input type=\"radio\" value=\"GU\" name=\"away\">Guttersburg United A.F.C
    //         <br>
    //         <input type=\"radio\" value=\"LU\" name=\"away\">Lasena United S.C<br>
    //         <input type=\"radio\" value=\"LRU\" name=\"away\">Lonen Raid 01 United F.C
    //         <br>
    //         <input type=\"radio\" value=\"RT\" name=\"away\">Rising Thunders A.C<br>
    //         <input type=\"radio\" value=\"K94\" name=\"away\">Khashiru 94 A.C`;
    //         break;
    //       default:
    //         break;
    //     }
    //   });
    // }); -->
    </DIV>

    <!-- Script! -->
    <script src="setup.js"></script>
  </body>
</html>
