<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Match Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/fresh.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/stats.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <!-- Top row START -->
      <div class="row">
        <div class="col-md-4">
          <h3 id="seasonTitle"></h3>
          <span class="text-muted text-info ml-2" id="leagueTitle"></span
          ><img width="100px" id="leagueLogo" />
        </div>

        <div
          class="col-md-8 alert alert-success d-flex justify-content-around"
          id="league-details"
        >
          <span class="text-bold text-white" id="seasonMatches"></span>
          <span class="text-bold text-white" id="seasonGoals"></span>
          <span class="text-bold text-white" id="seasonWinner"></span>
        </div>
      </div>
      <!-- Top row END -->

      <div class="row">
        <div class="col-md-4 p-2">
          <div class="club-card">
            <h4>Winner</h4>
            <img id="winner-logo" />
            <h5></h5>
            <ul id="winning-stats" class="list-inline"></ul>
          </div>
        </div>
        <div class="col-md-6 p-2">
          <div class="players">
            <div class="player-card" id="top-player"></div>

            <div class="player-card" id="top-scorer"></div>

            <div class="player-card" id="top-assists"></div>

            <div class="player-card" id="top-gk"></div>
          </div>
        </div>
        <!-- Players and Clubs! -->
        <div class="col-md-2 bg-primary list-group">
          <button class="accordion">Section 1</button>
          <div class="panel">
            <p>Lorem ipsum...</p>
          </div>

          <button class="accordion">Section 2</button>
          <div class="panel">
            <p>Lorem ipsum...</p>
          </div>

          <button class="accordion">Section 3</button>
          <div class="panel">
            <p>Lorem ipsum...</p>
          </div>
        </div>
      </div>

      <!-- Other functions -->

      <div class="row">
        <div class="col-12">
          <button class="btn btn-danger" id="end-season">End Season</button>
        </div>
      </div>
    </div>

    <script src="/stats.js"></script>
  </body>
</html>
