<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Transfer Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/transfer.css"
    />
  </head>
  <body>
    <!-- Transfer Hub -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h4 class="display-5">Transfer Hub 🔀</h4>
        </div>
      </div>
    </div>

    <script src="/transfer.js"></script>
  </body>
</html>
